[submodule "external/audiotube"]
	path = external/audiotube
	url = https://github.com/Amphaal/AudioTube
	branch = master
[submodule "external/sentry-native"]
	path = external/sentry-native
	url = https://github.com/getsentry/sentry-native
	branch = master
