[submodule "deps/AudioTube"]
	path = deps/AudioTube
	url = https://github.com/Amphaal/AudioTube
    branch = master
[submodule "deps/Dicer"]
	path = deps/Dicer
	url = https://github.com/Amphaal/Dicer
    branch = master
[submodule "deps/NetworkCandy"]
	path = deps/NetworkCandy
	url = https://github.com/Amphaal/NetworkCandy
    branch = main
[submodule "deps/sentry-native"]
	path = deps/sentry-native
	url = https://github.com/getsentry/sentry-native
    branch = master